@import "tailwindcss";
@import "tw-animate-css";

:root {
  background-color: #ebebeb;
  color :#2d3436 ;
  
}


h1, h2, h3, h4, h5, h6{
  font-family: var(--font-roboto);
  font-size:x-large;
  font-weight:600;
}


@theme {
   /* Colors  */
   --color-primary:#d63031;
   --color-secondary:#5E936C;
   --color-dark:#2d3436;
   --color-light:#ebebeb;
   --color-gray:#d1d5dc;

   /* Fonts  */
   --font-saira:var(--font-saira);

   --breakpoint-3xl: 110rem;
}

@layer components{
  .btn-primary{
    @apply bg-primary font-saira font-semibold text-lg text-light px-4 py-2 rounded-lg hover:bg-[#b81414] active:bg-[#b81414]
  }
}
